<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Message Board</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    </head>
    <body>
        <main>
            <header>
                <h1>Create Message</h1>
            </header>

            <!-- -->
            <div class="center-div">
                <a href="/new" id="create-message-anchor">Create Messages</a>
            </div>

            <div id="messages-board">
                <div class="box">
                    <p class="box-date">Monday, 1 01 0001</p>
                    <p class="box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Voluptas totam autem, illum iste dicta commodi
                        quas doloribus ab cupiditate nisi doloremque neque
                        asperiores nam corrupti rerum adipisci nostrum! Ullam,
                        magnam?
                    </p>
                    <p class="box-name">─Names</p>
                </div>
            </div>

            <!-- -->
            <div class="center-div">
                <a href="/new" id="create-message-anchor">Create Messages</a>
            </div>
        </main>
    </body>
</html>
