/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/***************/
/*             */
/*   MY CODE   */
/*             */
/***************/

body {
    line-height: 1.5;
    font-family: "Gill Sans", sans-serif;
    background-color: #171717;
    color: #f1f5f9;
}

#app {
    padding: 20px;
    min-height: 100vh;
}

header {
    margin: 20px auto;
}

header h1 {
    text-align: center;
    color: greenyellow;
}

#messages-board {
    width: 1400px;
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
}

.box {
    width: 100%;
    margin-bottom: 10px;
    border: 6px solid green;
    border-radius: 15px;
    padding: 1rem;
    break-inside: avoid;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box-date {
    text-align: end;
    color: rgba(255, 255, 255, 0.685);
    font-size: 1.05rem;
}

.box-text {
    font-size: 1.2rem;
    text-align: center;
}

.box-name {
    text-align: center;
    font-size: 1.15rem;
}

#create-message-form {
    margin: 20px auto 50px;
    width: 320px;
    height: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-action {
    display: flex;
    align-items: center;
    justify-content: end;
}

.form-group label {
    font-weight: 700;
}

input,
textarea {
    padding: 8px 4px 4px;
    font-weight: 600;
    font: inherit;
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    padding: 4px 10px;
    float: right;
}

a {
    color: white;
    font-weight: 600;
    text-decoration: unset;
}

.link-anchor {
    border: 2px solid green;
    padding: 8px 8px 4px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
